<!-- Links external stylesheet for consistent visual formatting -->
<head>
    <link rel="stylesheet" type="text/css" href="/static/pages/authorisationstyle.css">
</head>

<!-- Communicates page purpose -->
<h1>Change Password</h1>
<body>

<!-- Change password form container -->
<div class="box">

<!-- Form sends data to /password route using POST method -->
<form method="post" action ="/password">
<!-- New password field -->
New Password: <input name="password" type="password"> <p>

<!-- Confirm password field -->
Confirm Password: <input name="confirm_password" type ="password"> <p>

<!-- Submit button to send form data -->
<input type = "submit">
</form>

<!-- Link to login page -->
<a href ="/login">Log In</a>
</div>
</body>

